<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>ToDoList</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="https://fonts.googleapis.com/css?family=Nanum+Myeongjo&amp;subset=korean" rel="stylesheet">
    <!--<link rel="stylesheet" href="/css/bootstrap.min.css"/>-->
    <link rel="stylesheet" href="/css/test.css"/>
</head>
<body>
<!--<div th:replace="/layout/header::header"></div>-->
<div>
    <div class="test" th:each="tdl : ${tdlList}">
        <h1 th:text="${tdl.description}"></h1>
        <!--<h3 th:text="${tdl.status}"></h3>-->
        <div id="date">
            <p>
                <i class="material-icons button edit">edit</i>
                <i class="material-icons button delete">delete</i>
            </p>
        </div>
        <div id="date" th:text="${tdl.createdDate} ? ${#temporals.format(tdl.createdDate,'yyyy-MM-dd')} : ${tdl.createdDate}"></div>
    </div>
</div>
<!--<div th:replace="/layout/footer::footer"></div>-->
</body>
</html>