<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <!--header-->
    <div th:fragment="header">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                </button>
                <a href="/" class="navbar-brand" style="text-decoration:none;">
                    <div style="vertical-align:middle; font-size: 35px; color: #000;">To Do List</div>
                </a>
            </div>
        </nav>
    </div>
    <!--/header-->
</html>