<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/login.css?ver=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">
    <title>Sign in to TDL</title>
</head>
<body>
    <div class="container">
        <div class="logo"><i class="material-icons md-80">view_list</i></div>
        <p class="login_comment">Sign in to TDL</p>
        <div class="login_body">
            <form th:action="@{/login}" method="POST">
                <div class="login_field">
                    <label for="login_id">ID</label>
                    <input type="text" id="login_id" name="id">
                </div>
                <div class="login_field">
                    <label for="login_pwd">Password</label>
                    <input type="password" id="login_pwd" name="password">
                </div>
                <p th:if="${param.error}" id="login_error"></p>
                <div class="login_field">
                    <input id=login_btn type="submit" value="Sign in">
                </div>
            </form>
        </div>
        <div class="register_body">
            <p id="register_comment"> New to TDL? <a href="/register">Create an account.</a></p>
        </div>
    </div>
    <script th:src="@{/js/jquery.min.js}"></script>
</body>
</html>