<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/base.css?ver=9">
    <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <title>Project-TDL</title>
</head>
<body>
<header>
    <div class="headerTitle">
        <span>
            <a href="/logout"><img src="/css/img/github.png" alt="cat" width="50px" height="50px"></a>
            <a href="/tdl/list"><span> To Do List </span></a>
        </span>
    </div>
</header>

<div class="wrapper">
    <div class="register">
        <form onsubmit="return false">
            <input id="todoDescription" type="text" maxlength="35">
            <input id="insert" type="submit" value="ADD">
        </form>
    </div>

    <div class="more_container" th:each="tdl : ${tdlList}">
        <div class="container">
            <div class="column_left">
                <h1 class="tdlDescription" th:text="${tdl.description}" th:if="${tdl.status}" style="color: green;"></h1>
                <h1 class="tdlDescription" th:text="${tdl.description}" contenteditable="false" th:if="!${tdl.status}"></h1>
                <p>
                    <span class="date" th:text="${tdl.createdDate} ? ${#temporals.format(tdl.createdDate,'yyyy-MM-dd')} : ${tdl.createdDate}"></span>
                </p>
            </div>
            <div class="column_right">
                <h1 class="icon">
                    <button class="complete" th:if="${tdl.status}" th:value="${tdl.idx}"><i class="material-icons md-30">check_box</i></button>
                    <button class="complete" th:unless="${tdl.status}" th:value="${tdl.idx}"><i class="material-icons md-30">check_box_outline_blank</i></button>
                    <button class="update" th:if="!${tdl.status}" th:value="${tdl.idx}"><i class="material-icons md-30">edit</i></button>
                    <button class="delete" th:value="${tdl.idx}"><i class="material-icons md-30">delete</i></button>
                    <button class="comment" th:value="${tdl.idx}"><i class="material-icons md-30">comment</i></button>
                </h1>
                <span class="date" th:if="${tdl.status}" style="color: green" th:text="${tdl.completedDate} ? ${#temporals.format(tdl.completedDate,'yyyy-MM-dd')} : ${tdl.completedDate}"></span>
            </div>
        </div>
        <div class="hiddenList">
            <ul>
                <li th:each="comment : ${tdl.commentList}" th:text="${comment.content}"></li>
            </ul>
            <form onsubmit="return false">
                <input class="todoDescriptionReply" type="text" maxlength="35">
                <input class="insertReply" type="submit" value="ADD">
            </form>
        </div>
    </div>
</div>
<footer>
    <div class="footer_title">
        <p> Copyright@2019 Min.KH All Rights Reserved.</p>
    </div>
</footer>
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/base.js?ver=2}"></script>
<script th:src="@{/js/comment.js}"></script>

</body>
</html>