<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/login.css?ver=2">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">
    <title>Enter Your Certification Number</title>
</head>
<body>
<div class="container_id">
    <div class="logo"><a href="/login"><i class="material-icons md-80">refresh</i></a></div>
    <p class="login_comment">Enter Number</p>
    <div class="login_body">
        <form onsubmit="return false">
            <div class="login_field">
                <p>Enter your Certification Number.</p>
                <label for="found_cn">Number</label>
                <input type="password" id="found_cn">
                <p id="found_not_cn"></p>
            </div>
            <div class="login_field">
                <input id=found_cn_btn type="submit" value="Send Number">
            </div>
        </form>
    </div>
</div>
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/found.js}"></script>
</body>
</html>