<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/login.css?ver=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">
    <title>Reset Password</title>
</head>
<body>
<div class="container_id">
    <div class="logo"><a href="/login"><i class="material-icons md-80">refresh</i></a></div>
    <p class="login_comment">Reset Your Password</p>
    <div class="login_body">
        <div th:if="${error}">
            <div class="reset_error">
                <span th:text="${error}"></span>
            </div>
        </div>
        <form onsubmit="return false">
            <div class="login_field">
                <p th:if="${token}">Enter your Reset Password</p>
                <label for="found_reset_pwd" th:if="${token}">Password</label>
                <input type="password" id="found_reset_pwd" th:if="${token}">
                <p id="found_not_pwd"></p>
                <div class="login_field">
                    <input id=found_reset_btn type="submit" value="Send Password" th:if="${token}" th:data-test="${token}">
                </div>
            </div>
        </form>
    </div>
</div>
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/found.js}"></script>
</body>
</html>